:root {
  --color-white: #fff;
  --color-milky: #FEF2F4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- google font (Inter) ---- */
@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter.ttf") format("TrueType");
}
/* ---- persian font (Yekan) ---- */
@font-face {
  font-family: "Yekan";
  src: url("./assets/font/YekanBakhFaNum-Regular.ttf") format("TrueType"),
    url("./assets/font/YekanBakhFaNum-Regular.woff") format("woff");
}

:lang(en) {
  font-family: "Inter", sans-serif;
}
:lang(fa) {
  font-family: "Yekan", sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    var(--color-milky),
    var(--color-white),
    var(--color-white),
    var(--color-milky)
  );
}
